<div class="modal-overlay">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Próxima Cita</h5>
        <button type="button" class="btn-close btn-close-white" (click)="close()"></button>
      </div>
      <div class="modal-body">
        <p><strong>Paciente:</strong> Mariana López</p>
        <p><strong>Fecha:</strong> 30 de mayo de 2025</p>
        <p><strong>Hora:</strong> 12:00 PM</p>
        <p><strong>Motivo:</strong> Revisión general</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" (click)="close()">Cerrar</button>
      </div>
    </div>
  </div>
  