<div class="login-background">
  <div class="login-form">
    <form >
      <div class="card">
        <div style="text-align: center;">
        <h4>Registro</h4> 
        <p>Ingresa tus datos para crear tu cuenta.</p>
        </div>

        <div class="row g-3" style="padding: 1rem;">
          <div class="col-md-6"><label>Nombre:</label><input class="form-control" type="text"></div>
          <div class="col-md-6"><label>Apellido Paterno:</label><input class="form-control" type="text"></div>
          <div class="col-md-6"><label>Apellido Materno:</label><input class="form-control" type="text"></div>
          <div class="col-md-6"><label>Correo:</label><input class="form-control" type="email"></div>
          <div class="col-md-6"><label>Teléfono:</label><input class="form-control" type="tel"></div>
          <div class="col-md-6"><label>Fecha Nacimiento:</label><input class="form-control" type="date"></div>
          <div class="col-md-12"><label>Dirección:</label><input class="form-control" type="text"></div>
          <div class="col-md-12">
            <label>Género:</label>
            <div>
              <label><input type="radio" name="genero"> Masculino</label>
              <label class="ms-3"><input type="radio" name="genero"> Femenino</label>
            </div>
          </div>
        </div>
        
        <div class="d-flex justify-content-center gap-3">
          <div style="padding: 10px;"><a href="http://localhost:4200/login" class="btn btn-outline-secondary btn-sm">Cancelar</a></div>
          <div style="padding: 10px;"><a href="http://localhost:4200/login" class="btn btn-dark btn-sm">Registrarse</a></div>
        
        </div><br>
      </div> <br>
      
    </form>
  </div>
</div>
