<div class="modal-overlay">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agenda del día</h5>
        <button type="button" class="btn-close btn-close-white" (click)="close()"></button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item">10:00 AM - Cita con Juan Pérez</li>
          <li class="list-group-item">11:30 AM - Cita con María Gómez</li>
          <li class="list-group-item">02:00 PM - Cita con Carlos Ruiz</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" (click)="close()">Cerrar</button>
      </div>
    </div>
  </div>
  